<!-- 
See the source here:
https://github.com/SivanMehta/random-vocab
-->
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<div class = "container">
    <table class = "highlight">
        <thead>
            <th>Word</th>
            <th>Definition</th>
            <% if(with_pictures) { %>
            <th>Picture</th>
            <% } %>
        </thead>
        <tbody>
            <tr>
                <td>Bucty</td><td>Tree</td>
                <% if(with_pictures) { %>
                    <td><img src = "http://lorempixel.com/200/200/"></td>
                <% } %>
            </tr>
            <tr>
                <td>Polinies</td><td>Book</td>
                <% if(with_pictures) { %>
                    <td><img src = "http://lorempixel.com/200/200/"></td>
                <% } %>
            </tr>
            <tr>
                <td>Crudle</td><td>Apple</td>
                <% if(with_pictures) { %>
                    <td><img src = "http://lorempixel.com/200/200/"></td>
                <% } %>
            </tr>
            <tr>
                <td>Kapole</td><td>Shoe</td>
                <% if(with_pictures) { %>
                    <td><img src = "http://lorempixel.com/200/200/"></td>
                <% } %>
            </tr>
            <tr>
                <td>Pona</td><td>Telephone</td>
                <% if(with_pictures) { %>
                    <td><img src = "http://lorempixel.com/200/200/"></td>
                <% } %>
            </tr>
            <tr>
                <td>Tatering</td><td>Running</td>
                <% if(with_pictures) { %>
                    <td><img src = "http://lorempixel.com/200/200/"></td>
                <% } %>
            </tr>
            <tr>
                <td>Poney</td><td>Lion</td>
                <% if(with_pictures) { %>
                    <td><img src = "http://lorempixel.com/200/200/"></td>
                <% } %>
            </tr>
            <tr>
                <td>Mepping</td><td>Climbing</td>
                <% if(with_pictures) { %>
                    <td><img src = "http://lorempixel.com/200/200/"></td>
                <% } %>
            </tr>
            <tr>
                <td>Rebt</td><td>Angry</td>
                <% if(with_pictures) { %>
                    <td><img src = "http://lorempixel.com/200/200/"></td>
                <% } %>
            </tr>
            <tr>
                <td>Klose</td><td>Cute</td>
                <% if(with_pictures) { %>
                    <td><img src = "http://lorempixel.com/200/200/"></td>
                <% } %>
            </tr>
        </tbody>
    </table>
</div>