<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <style type="text/css">
        img
        {
            height: 150px;
            width: auto;
        }
    </style>
</head>

<body>
    <br />

    <div class = "container">
        <p>Take <span id = "countdown">5:00</span> to study the following words, after that you will be automatically redirected to a quiz. If you feel comfortable with the definitions before that, you can access the quiz at the bottom of the page.</p>
        <table class = "highlight">
            <thead>
                <th>Word</th>
                <th>Definition</th>
            </thead>
            <tbody>
                <% for(var i = 0; i < words.length; i ++) { %>
                <tr>
                    <td><%= words[i][0] %></td><td><%= words[i][1] %></td>
                    <% if(with_pictures) { %>
                        <td><img src = "<%= words[i][2] %>"></td>
                    <% } %>
                </tr>
                <% } %>
            </tbody>
        </table>
        <a class="waves-effect waves-light btn" href = "https://docs.google.com/forms/d/1ywbZPz-fGY8qCF7nAWD0zHgRAwyrA1XCBRwc85LYzgs/viewform?c=0&w=1"><i class="material-icons left">done</i>Go to Quiz</a>
    </div>

    <br />

    <script type="text/javascript">

        var elapsed = 1000;
        var time_alloted = 300 * 1000;

        function msToTime(s)
        {

          function addZ(n)
          {
            return (n<10? '0':'') + n;
          }

          var ms = s % 1000;
          s = (s - ms) / 1000;
          var secs = s % 60;
          s = (s - secs) / 60;
          var mins = s % 60;

          return mins + ':' + addZ(secs);
        }


        setInterval(function()
        {
            $("#countdown").text(msToTime(time_alloted - elapsed));
            elapsed += 1000;

            if(elapsed > time_alloted)
            {
                window.location = "https://docs.google.com/forms/d/1ywbZPz-fGY8qCF7nAWD0zHgRAwyrA1XCBRwc85LYzgs/viewform?c=0&w=1";
            }
        }, 1000);

        console.log("Interesting in improving this hastily-made website?");
        console.log("View the source code at https://github.com/SivanMehta/random-vocab");

    </script>
</body>
<html>
