<!-- 
See the source here:
https://github.com/SivanMehta/random-vocab
-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

<style type="text/css">
    img
    {
        height: 150px;
        width: auto;
    }
</style>

<br />

<div class = "container">
    <table class = "highlight">
        <thead>
            <th>Word</th>
            <th>Definition</th>
            <% if(with_pictures) { %>
            <th>Picture</th>
            <% } %>
        </thead>
        <tbody>
            <tr>
                <td>Bucty</td><td>Tree</td>
                <% if(with_pictures) { %>
                    <td><img src = "http://i.imgur.com/szbSDE3.jpg"></td>
                <% } %>
            </tr>
            <tr>
                <td>Polinies</td><td>Book</td>
                <% if(with_pictures) { %>
                    <td><img src = "http://i.imgur.com/eMqTs0z.jpg?1"></td>
                <% } %>
            </tr>
            <tr>
                <td>Crudle</td><td>Apple</td>
                <% if(with_pictures) { %>
                    <td><img src = "http://i.imgur.com/JCId7kP.jpg"></td>
                <% } %>
            </tr>
            <tr>
                <td>Kapole</td><td>Shoe</td>
                <% if(with_pictures) { %>
                    <td><img src = "http://i.imgur.com/tRypoOa.jpg"></td>
                <% } %>
            </tr>
            <tr>
                <td>Pona</td><td>Telephone</td>
                <% if(with_pictures) { %>
                    <td><img src = "http://i.imgur.com/hOnWYKn.jpg"></td>
                <% } %>
            </tr>
            <tr>
                <td>Tatering</td><td>Running</td>
                <% if(with_pictures) { %>
                    <td><img src = "http://keepitoff.org/wp-content/uploads/2015/07/Jenny_Running.jpg"></td>
                <% } %>
            </tr>
            <tr>
                <td>Poney</td><td>Lion</td>
                <% if(with_pictures) { %>
                    <td><img src = "https://upload.wikimedia.org/wikipedia/commons/7/73/Lion_waiting_in_Namibia.jpg"></td>
                <% } %>
            </tr>
            <tr>
                <td>Mepping</td><td>Climbing</td>
                <% if(with_pictures) { %>
                    <td><img src = "http://www.hdwallpapersnew.net/wp-content/uploads/2015/10/climbing-wide-high-definition-for-desktop-background-photos-full-free.jpg"></td>
                <% } %>
            </tr>
            <tr>
                <td>Rebt</td><td>Angry</td>
                <% if(with_pictures) { %>
                    <td><img src = "https://tamlynamberryan.files.wordpress.com/2015/07/how-to-control-anger-postiveattitudematters-com.jpg"></td>
                <% } %>
            </tr>
            <tr>
                <td>Klose</td><td>Cute</td>
                <% if(with_pictures) { %>
                    <td><img src = "https://pbs.twimg.com/profile_images/497043545505947648/ESngUXG0.jpeg"></td>
                <% } %>
            </tr>
        </tbody>
    </table>
    <a class="waves-effect waves-light btn" href = "https://docs.google.com/forms/d/1ywbZPz-fGY8qCF7nAWD0zHgRAwyrA1XCBRwc85LYzgs/viewform?c=0&w=1"><i class="material-icons left">done</i>Go to Quiz</a>

</div>